*{margin: 0;padding: 0}
@media (max-width: 640px)and (min-width: 320px){
.nav,.box{width: 640px}
}
@media screen and (min-width: 640px) {
    .nav,.box{width:300px}
}
@media screen and (max-width: 640px) and (min-width: 300px) {
    .nav,.box{width: 400px}
}
@media screen and (max-width: 300px) {
    .nav,.box{width: 640px}
}


.nav{
    width: 100%;
    height: 50px;
    background-color: darksalmon;
}
.logo{margin-top: -5px;}
.link{
    margin-top: 10px;
}
.link>a{
    display: inline-block;
    width: 80px;
    color: white;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
}
.link>a:hover{
    background-color: rgba(20,150,80,0.3);
}


.li_img,.li_audio,.li_video,.li_text{
    width: 540px;
}
.sing{
    color: white;
    font-size: 20px;
    margin-top: 10px;
}

.sing_in{
    position: absolute;
    width: 500px;
    height: 300px;
    top:100px;
    left: 500px;
    border: 1px solid gainsboro;
    border-radius: 10px;
    display: none;

}
.sing_up{
    position: absolute;
    width: 500px;
    height: 300px;
    top:100px;
    left: 500px;
    border: 1px solid gainsboro;
    border-radius: 10px;
    display: none;
}
.box{
   width: 960px;
    margin: 0 auto;
    position: relative;
}
.box .box_left{
    width: 588px;
    padding: 0 10px;
    height: 100%;
    border: 1px solid gainsboro;
    float: left;
}
.box .box_left #demo .head_img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.box .box_left #demo .content_img{
    width: 566px;
}
.box .box_left #demo .time{
    margin-left: 300px;
}
.box .box_right{
    /*width: 300px;*/
    width: 332px;
    height: 800px;
    border: 1px solid gainsboro;
    float: left;
}
li{    list-style-type: none;
    border-bottom: 1px solid gainsboro;
    border-top: 1px solid gainsboro;
}

.demo .head_img{
    margin-left:50px ;
}

.box_page{
   height: 100%;
   top: 100px;
    width:400px;
}

.box_page>ul>li{
    float: left;
    width: 20px;
    height: 20px;
    border: 1px solid gainsboro;
    text-align: center;
    margin-right: 10px;
}